<div class="row">
  <div class='col-md-12'>
    <div style='margin: 0 auto; width: 500px'>
      <%= form_for(@url, html: {role: 'form'}) do |f| %>
        <% if @url.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

            <ul>
            <% @url.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label(:href, "Link to shorten") %>
          <%= f.text_field(:href, class: 'form-control', placeholder: 'http://www.example.com', type: 'url') %>
        </div>
        <div class="form-group">
          <%= f.label(:alias, "Custom alias (optional)") %> <br>
          <%= root_url %>
          <%= f.text_field(:alias, class: 'form-control', style: 'width: 100px; display: inline') %>
        </div>
        <div class="actions">
          <%= f.submit("Shorten URL", class: 'btn btn-default') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
