<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= link_to @url.href %>
</p>

<p>
  <strong>Alias:</strong>
  <%= link_to @url.alias, root_url + @url.alias %>
</p>

<p>
  <strong>Views:</strong>
  <%= @url.views %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
